<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>

        body {
            background: #FFFDD0;
            font-family: "MS Sans Serif", "Optima", sans-serif;
            background-image: url('https://placehold.co/100x100/transparent/AAAAAA?text=404+ERR');
            animation: backgroundScroll 20s linear infinite;
            }

        @keyframes backgroundScroll {
            from { background-position: 0 0; }
            to { background-position: 100% 100%; }
        }
    </style>
</head>
<body>
    <h1>Sorry!</h1>
    <p>The page you requested does not exist.</p>
</body>
</html>